/*FOOTER*/
.footer {
  background-color: #C7D9B7;
  border-top: 1px solid #5F6062;
  filter: drop-shadow(0 0 3px black);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0.8em;
  text-align: center;

  .name {
    color: #18643A;
  }
}
